.section6 {
    background-color: #47e1ae44;
    padding: 50px 0;
}
.flex-contact {
    display: flex;
    justify-self: center;
}
.flex-container2 {
    display: flex;
    justify-content: center;
    text-align: center;
}
.title2 {
    font-weight: bold;
    font-size: 30px;
    color: #262222;
}