* {
    margin: 0px;
    padding: 0px;
} 
/* header */
header {
    margin: 20px 100px;
    font-family: sans-serif;
}
.img1 {

    float:left;
}
/* navbar */
.nav {
    float:right;
}
.nav ul {
    text-align: center;
    margin-top: 20px;
}
.nav ul li {
    list-style: none;
    display: inline;
}
.nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    padding: 15px 30px;
    transition: .5s;
}
.navExtra {
    background-color: #47AEE1;
    border-radius: 25px;
}
.nav ul li :hover {
    color: #47AEE1;
}
/* main */
/* section1 */


main section .flex-container1 img{
    width: 35%;
    position: absolute;
    top: 15%;
    left: 60%;
}

main section .flex-container1 div .info{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    position: absolute;
    margin: 23% 15%;
    font-size: 25px;
}

main section .flex-container1 div .title {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    position: absolute;
    margin: 15% 15%;
    font-size: 40px;
}

main section .flex-container1 div button{
    border: none;
    background:#47AEE1;
    width: 13%;
    height: 5vh;
    color:white;
    border-radius: 25px;
    margin: 35% -2%;
    cursor: pointer;
    font-size: 16px;
    transition: .5s;
}

main section .flex-container1 div button:hover{
    color:white;
    background: black;
}


